.app-container{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  height: 100vh;
  padding-top: 2rem; /* Adjust this value based on the height of your nav bar */
}

.search-bar-container {
  margin-top: 1rem;
  width: 40%;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  min-width: 600px;
  position: relative;
}
