.about-card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;
  padding: 9px;
  margin: 3rem 0 0 0;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.about-card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.about-card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  width: 50rem;
  height: 28rem;
  background-color: var(--contrast);
  border-radius: 30px;
  padding: 2rem;
}

.about-text {
  font-size: 1.25rem;
  font-weight: 100;
  color: #313030;
  text-align: start;
  font-family: 'Overpass', sans-serif;
  padding: 1rem 0 0 0;
  letter-spacing: 1px;
  line-height: 1.75rem;
}

.about-text-bold {
  font-weight: 600;
}

.divider {
  width: 98%;
  border-top: 2px solid #000000;
  margin: 2rem 0 0 0;
  opacity: 50%;
}

.steps-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
}

.step {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.step-number {
  width: 50px;
  height: 50px;
  margin-right: 2.5rem;
}

.step-description {
  font-size: 1.25rem;
  font-family: 'Overpass', sans-serif;
}

.inline-images {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}