@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .alert-message-card {
    width: 20%;
    height: 15%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed; /* Change to fixed to overlay on top of content */
    top: 50%; /* Center vertically */
    right: 70px; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to center */
    animation: fadeIn 0.5s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 1000;
  }
  
  .alert-message-card.fade-out {
    animation: fadeOut 0.5s ease-out;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04e40048;
    border-radius: 50%;
    margin-left: 8px;
  }
  
  .alert-icon {
    width: 35px;
    height: 35px;
  }
  
  .alert-message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    font-family: 'Overpass', sans-serif;
  }
  
  .alert-message-text,
  .alert-sub-text {
    margin: 0;
    cursor: default;
  }
  
  .alert-message-text {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .alert-sub-text {
    font-size: 1rem;
    color: #555;
  }
  
  .cross-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }