.intro-container {
  background-color: #eee;
  /* padding: 5rem 0 0 10rem; */
  display: flex;
  justify-content: center;
  padding: 3rem 0 0 0;
}
.intro-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 2rem;
  width: 50rem;

  background-image: linear-gradient(
    135deg,
    rgba(172, 250, 233, 0.15) 0%,
    rgba(213, 143, 235, 0.15) 50%,
    rgba(242, 126, 241, 0.15) 100%
  );

  border-radius: 0.5rem;
  border-color: rgb(128, 122, 122);
  border-style: groove;
  border-width: 0.25rem;
}
.intro-title {
  overflow: clip;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--dark);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 1px;

}
.intro-description {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark);
  font-family: 'Overpass', sans-serif;
}

.disclaimer {
  font-size: 0.85rem;
  font-style: italic;
  color: rgb(105, 104, 104);
  font-family: 'Overpass', sans-serif;
}