.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
}

/* Style the close button */
.close-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background: none;
  border: none;
  font-size: 24px; /* Size of the close button */
  color: #333; /* Color of the "X" */
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #ff0000; /* Change color on hover */
}

.close-button:focus {
  outline: none; /* Remove focus outline */
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
  border: 1px solid #F7F7F8;
  filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.login-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 0 1rem 1rem 1rem;
}

.login-title {
  font-size: 2.75rem;
  font-weight: 700;
  color: #212121;
  padding: 1rem;
}

.subtitle {
  font-size: 0.8rem;
  max-width: 80%;
  line-height: 1.25rem;
  color: #8B8E98;
  font-family: 'Overpass', sans-serif;
}

.input_container {
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  margin-bottom: 1rem; /* Added margin for spacing */
}

.input_label {
  font-size: 0.9rem;
  color: #000000;
  font-weight: 600;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 1px;
}

.input-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;

}

.icon {
  width: 25px;
  height: 25px;
  /* position: relative; */
  z-index: 99;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 1rem;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  font-family: 'Overpass', sans-serif;
  font-weight: 100;
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #115DFC;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.sign-in_ggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.sign-in_apl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8B8E98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8B8E98;
  text-decoration: underline;
}

.external-button {
  max-width: 320px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 0.875rem 72px 0.875rem 1.75rem;
  background-color: #4285f4;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
  transition: all 0.6s ease;
  filter: brightness(1.2);
  cursor: pointer;
}

.external-button .google-icon {
  background-color: #fff;
  display: grid;
  position: absolute;
  right: 0;
  place-items: center;
  width: 3rem;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  filter: brightness(1.2);
}

.external-button .google-icon img {
  width: 1.5rem;
  height: 1.5rem;
  filter: drop-shadow(0 0 5px rgba(66, 133, 244, 0.8));
}

.external-button:hover {
  box-shadow: 0 4px 30px rgba(66, 133, 244, 0.1),
    0 2px 30px rgba(52, 168, 83, 0.06);
  filter: brightness(1);
}

.external-button:hover .google-icon {
  filter: brightness(1);
}
