/* src/components/Modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    width: 100%;
  }
  
  .modal-close {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 25px;
    height: 25px; 
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    background-color: rgb(252, 252, 252);
    border-radius: 50%;
  }
  
  .modal-close:hover {
    background-color: rgb(227, 223, 223);
  }
  
  .modal-close-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }