.input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 4rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.input-wrapper:hover {
    box-shadow: 0px 0px 15px 3px rgb(170, 167, 167); /* Glowing effect on hover */
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 10px;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
}

input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
}

.clear-button {
    cursor: pointer;
    border-radius: 10%;
    border: 1.5px solid black;
    padding: 3px;
    font-family: 'Overpass', sans-serif;
}

.clear-button:hover {
    background-color: rgb(227, 223, 223);
  }